<ion-view view-title="Welcome Driver">
  <ion-content>
    <div class="center">
      <form>
        <div>
          <label class="item item-input">
            <input type="text" placeholder="Name">
          </label>
          <label class="item item-input">
            <input type="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password Confirmation">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Register</button>
        </div>
      </form>
      <h3><a ui-sref="passengerLogin">Passenger</a></h3>
    </div>
  </ion-content>
</ion-view>