<ion-view view-title="Welcome Passenger">
  <ion-content>
    <div class="center">
      <form>
        <div>
          <label class="item item-input">
            <input type="text" ng-model= "register.name" placeholder="Name">
          </label>
          <label class="item item-input">
            <input type="email" ng-model= "register.email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="password" ng-model= "register.password" placeholder="Password">
          </label>
          <label class="item item-input">
            <input type="password" ng-model= "register.password_confirmation" placeholder="Password Confirmation">
          </label>
        </div>
        <div class="padding">
          <button ng-click="newPassenger(register)" type="submit" name="RegisterButton" class="button button-block button-positive">Register</button>
        </div>
      </form>
      <h3><a ui-sref="driverLogin">Driver</a></h3>
    </div>
  </ion-content>
</ion-view>
