<ion-view view-title="Account">
  <ion-content>
    <ion-list>

    <ion-toggle  ng-model="settings.enableFriends">
        <h2>Enable Friends</h2>
    </ion-toggle>
        <ion-toggle>
        <h2>Shit Friends</h2>
    </ion-toggle>

    <ion-item class="item-icon-right" type="item-text-wrap" href="#">
      <h2>Profile</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-icon-right" type="item-text-wrap" href="#">
      <h2>Payment</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-icon-right" type="item-text-wrap" href="#">
      <h2>Help</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>

    <ion-item class="item-icon-right" type="item-text-wrap" href="#">
      <h2>Promitions</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-icon-right" type="item-text-wrap" href="#">
      <h2>About</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>



    </ion-list>
  </ion-content>
</ion-view>
