<ion-view view-title="Welcome Passenger">
  <ion-content>
    <div class="center">
      <form>
        <div>
          <label class="item item-input">
            <input type="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Sign In</button>
        </div>
      </form>
      <h4><a ui-sref="passengerRegister">New?...Register</a></h4>
      <h3><a ui-sref="driver">Driver?</a></h3>
    </div>
    <ion-nav-view></ion-nav-view>
  </ion-content>
</ion-view>
