<ion-view view-title="Payments">
  <ion-content>
    <div class="center">
      <form name="addPaymentForm">
        <div class="visa"></div>
        <div class="master"></div>
        <div class="amex"></div>
        <div class="discover"></div>
        <div>
          <label class="item item-input"> Cardholder
            <input type="text" ng-model="card.name" placeholder="John Doe"/>
          </label>
          <label class="item item-input"> Number
            <input type="text" name="cardNumber" payments-format="card" ng-model="card.number" payments-validate="card" payments-type-model="type" placeholder="1234 5678 9123 4567"/>
          </label>
          <label class="item item-input">Expiration
             <input type="text" payments-format="expiry" ng-model="card.expiry" payments-validate="expiry" placeholder="mm/yyyy"/>
          </label>
          <label class="item item-input"> CVC
            <input type="text" payments-format="cvc" ng-model="card.cvc" payments-validate="cvc" payments-type-model="type" placeholder="123-4"/>
          </label>
        </div>
        <div class="padding" ng-if="!card.name || !card.number || !card.expiry || !card.cvc" ng-click="showAlert()">
          <button  class="button button-outline button-block button-balanced">Add Payment</button>
        </div>
        <div class="padding" ng-if="card.name && card.number && card.expiry && card.cvc">
          <button type="submit" name="AddPaymentButton" class="button button-block button-balanced" ng-click="addPayment(card)">Add Payment</button>
        </div>
      </form>
    </div>
    <ion-nav-view></ion-nav-view>
  </ion-content>
</ion-view>
