
<ion-view view-title="Register">
  <ion-content>
    <div class="center">
      <form>
        <div>
          <label class="item item-input non-password-field">
            <input type="text" ng-model= "register.name" placeholder="Name">
          </label>
          <label class="item item-input non-password-field">
            <input type="text" ng-model= "register.email" placeholder="Email">
          </label>
          <label class="item item-input non-password-field">
            <input type="text" ng-model= "register.phone_number" placeholder="Phone Number">
          </label>
          <br>
          <br>
          <label class="item item-input password-field">
            <input type="password" ng-model= "register.password" placeholder="Password">
          </label>
          <label class="item item-input password-field">
            <input type="password" ng-model= "register.password_confirmation" placeholder="Password Confirmation">
          </label>
        </div>
        <div class="padding">
          <button ng-click="newPassenger(register)" type="submit" name="RegisterButton" class="button button-block button-positive">Register</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>

