<ion-view view-title="Payments">
  <ion-content>
    <div class="center">
      <form name="myForm" stripe-form="handleStripe" >
        <div>
          <label class="item item-input"> Cardholder
            <input type="text" ng-model="name" placeholder="John Doe"/>
          </label>
          <label class="item item-input"> Number
             <input type="text" class="input-block-level" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" placeholder="1234 5678 9123 4567" ng-class="myForm.number.$card.type"/>
          </label>
          <label class="item item-input">Expiration
             <input type="text" class="input-block-level" ng-model="expiry" payments-validate="expiry" payments-format="expiry" placeholder="mm/yyyy"/>
          </label>
          <label class="item item-input"> CVC
             <input type="text" class="input-block-level" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type" placeholder="123-4"/>
          </label>
        </div>
        <div class="padding" >
          <button type="submit" name="AddPaymentButton" class="button button-block button-balanced">Add Payment</button>
        </div>
      </form>
    </div>
    <ion-nav-view></ion-nav-view>
  </ion-content>
</ion-view>
