<ion-view view-title="Account">
  <ion-content>
    <ion-list>

    <ion-item class="item-icon-right" type="item-text-wrap" href="#">
      <h2>Profile</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-icon-right" type="item-text-wrap" ui-sref="driver.payments">
      <h2>Payment</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-icon-right" type="item-text-wrap" href="#">
      <h2>Promotions</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-icon-right" type="item-text-wrap" href="#">
      <h2>Help</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>

    <ion-toggle  ng-model="settings.enableFriends">
      <h2>Share Location With Friends</h2>
    </ion-toggle>

    <button class="button button-block button-assertive" ng-click="confirmSignout()">
       Sign Out
    </button>

    </ion-list>
  </ion-content>
</ion-view>
