
<ion-view view-title="Sign In">
  <ion-content>
    <div class="center">
      <form class="padding">
        <div>
          <label class="item item-input">
            <input type="text" placeholder="Email" ng-model="driver.email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="driver.password">
          </label>
        </div>
        <div class="padding">
          <button type="submit" name="SigninButton" class="button button-block button-positive" ng-click="signin(driver)">Sign In</button>
          <button class="button button-block button-positive" ui-sref="driverRegister">Register</button>
        </div>
      </form>

      <button class="button button-outline button-large button-positive" ui-sref="passengerSignin">Passengers</button>
    </div>
    <ion-nav-view></ion-nav-view>
  </ion-content>
</ion-view>
