<ion-view view-title="Dashboard">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-balanced activate-driver" ng-hide="activated" ng-click="activateDriver()" >
      Drive
    </button>
    <button class="button button-clear button-assertive" ng-show="deActivated" ng-click="deActivateDriver()">
      Rest
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <map on-create="mapCreated(map)"></map>
    <div class="on-top-1 trip-request" ng-show="tripRequest">
      this is the request
    </div>
    <div class="driver-center on-top-1">
      <button ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></button>
    </div>
  </ion-content>
</ion-view>


